<!DOCTYPE HTML>
<html>
    <head>
    	<title>Edit List</title>
    	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
    	<meta name="viewport" content="width=device-width, user-scalable=no" />
    	<%= stylesheet_link_tag 'main' %>
    	<script type="text/javascript">
           function formfocus() {
              document.getElementById('list_name').focus();
           }
           window.onload = formfocus;
        </script>
    </head>
    <body>
    	<div id="header">
    		<h1>Edit List</h1>
    		<span class="left"><a href="/lists"><img src="/images/back.png" alt="back"/></a></span>
    		<span class="left-2"><a href="/"><img src="/images/home.png" alt="home"/></a></span>
    		<span class="right"><a href="/lists/new"><img src="/images/new.png" alt="new"/></a></span>
    	</div>

        <% form_for(@list) do |f| %>
            <% if @list.errors.any? %>
                <div id="error_explanation">
                    <h2><%= pluralize(@list.errors.count, "error") %> prohibited this list from being saved:</h2>

                    <ul>
                    <% @list.errors.full_messages.each do |msg| %>
                        <li><%= msg %></li>
                    <% end %>
                    </ul>
                </div>
            <% end %>

        	<table>
        		<tr>
        			<td class="text-field-label"><%= f.label :name %></td>
        			<td><%= f.text_field :name, :class => "text-field" %></td>
        		</tr>
        		<tr>
        			<td class="textarea-label"><%= f.label :description %></td>
        			<td><%= f.text_area :description, :class => "textarea" %></td>
        		</tr>
        		<tr>
        			<td class="buttons delete" colspan="2">
        				<input type="button" onclick="window.location='/categories/destroy/<%= @list.id %>';" value="DELETE">
        			</td>
        		</tr>
        		<tr>
        			<td class="buttons" colspan="2">
        				<%= f.submit 'Update' %> <input type="button" onclick="window.location='/lists';" value="Cancel">
        			</td>
        		</tr>
        	</table>
        <% end %>
    </body>
</html>