<!DOCTYPE HTML>
<html>
    <head>
    	<title><%= @title %></title>
    	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
    	<meta name="viewport" content="width=device-width, user-scalable=no" />
    	<%= csrf_meta_tag %>
    	<%= stylesheet_link_tag 'main' %>
    	<%= javascript_include_tag "jquery-1.6.1", "jquery-rails" %>
    	<script>
    	    $(function() {
    	        $("input:checkbox").live("change", function(){
    	            var id = this.getAttribute("data-id");
    	            var action = this.getAttribute("data-action");
    	            var path = "/list_items/" + action + "/" + id;
    	            $.post(path);
    	        });
    	        
    	        $("li.quick-add form").submit(function() {
    	            var value = $("input.quick-add").val();
    	            $("input.quick-add").attr("disabled", "disabled").css("background", "#eeeeee url(/images/small-loader.gif) no-repeat right 8px");
    	            $("input.quick-add").after("<input type='hidden' name='list_item[name]' value='" + value + "'/>");
    	        });
    	    });
    	</script>
    </head>
    <body>
    	<div id="header">
    		<h1><%= @title %></h1>
    		<span class="left"><a href="/lists"><img src="/images/back.png" alt="back"/></a></span>
    		<span class="left-2"><a href="/"><img src="/images/home.png" alt="home"/></a></span>
    		
    		<span class="right"><a href="/list_items/new?list=<%= @list.id %>"><img src="/images/new.png" alt="new"/></a></span>
    	</div>
    	<ul id="items">
    	    <li class="quick-add active-mode">
    	        <% form_for :list_item, :remote => true, :url => { :controller => :list_items, :action => :quick_add } do |f| %>
    	            <%= hidden_field :list_item, :list_id, :value => @list.id %>
    	            <%= text_field :list_item, :name, :class => "quick-add", :placeholder => "Create New Item" %>
    	        <% end %>
    	    </li>
    	    <%= render :partial => "list_items/item", :collection => @incomplete_items %>
    	    <%= render :partial => "list_items/item", :collection => @complete_items %>
    	</ul>
    </body>
</html>