<!DOCTYPE HTML>
<html>
    <head>
    	<title><%= @list.name %></title>
    	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
    	<meta name="viewport" content="width=device-width, user-scalable=no" />
		<%= csrf_meta_tag %>
    	<%= stylesheet_link_tag 'mobile' %>
    	<%= javascript_include_tag "jquery-1.7.1.min", "jquery-rails" %>
    	<script>
    	    $(function() {
    	        $("input:checkbox").live("change", function(){
    	            var id = this.getAttribute("data-id");
    	            var action = this.getAttribute("data-action");
    	            var path = "/list_items/" + action + "/" + id;
    	            $.post(path);
    	        });
    	        
    	        $("li.quick-add form").submit(function() {
    	            var value = $("input.quick-add").val();
    	            $("input.quick-add").attr("disabled", "disabled").css("background", "#444444 url(/images/small-loader-white.gif) no-repeat 99% 12px");
    	            $("input.quick-add").after("<input type='hidden' id='hidden-quick-add' name='list_item[name]' value='" + value + "'/>");
    	        });
    	    });
    	</script>
    </head>
    <body class="list">
    	<div id="header">
    		<h1><%= @list.name %></h1>
    		<span class="left"><a href="/lists" class="sprite back-icon"></a></span>
    		<span class="left-2"><a href="/" class="sprite home-icon"></a></span>
    		<span class="right-2"><a href="#" onclick="$('.active-mode').toggle(); $('.edit-mode').toggle(); return false;" class="sprite edit-icon"></a></span>
    		<span class="right"><a href="/list_items/new?list=<%= @list.id %>" class="sprite new-icon"></a></span>
    	</div>
    	<ul id="items">
    	    <li class="quick-add active-mode">
    	        <% form_for :list_item, :remote => true, :url => { :controller => :list_items, :action => :quick_add } do |f| %>
    	            <%= hidden_field :list_item, :list_id, :value => @list.id %>
    	            <%= text_field :list_item, :name, :class => "quick-add", :placeholder => "Create New Item" %>
    	        <% end %>
    	    </li>

    	    <%= render :partial => "list_items/item", :collection => @incomplete_items %>
    	    <%= render :partial => "list_items/item", :collection => @complete_items %>
    	</ul>
    </body>
</html>