<!DOCTYPE HTML>
<html>
    <head>
    	<title>Edit Inventory</title>
    	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
    	<meta name="viewport" content="width=device-width, user-scalable=no" />
    	<%= stylesheet_link_tag 'main' %>
    	<script>
    	    window.addEventListener("load",function() {
              setTimeout(function(){
                window.scrollTo(0, 1);
              }, 0);
            });
        </script>
    </head>
    <body>
    	<div id="header">
    		<h1>Edit Inventory</h1>
    		<span class="left"><a href="/inventories" class="sprite back-icon"></a></span>
    		<span class="left-2"><a href="/" class="sprite home-icon"></a></span>
    		<span class="right"><a href="/inventories/new" class="sprite new-icon"></a></span>
    	</div>

        <% form_for(@inventory) do |f| %>
            <% if @inventory.errors.any? %>
                <div id="error_explanation">
                    <h2>Please fix errors:</h2>
                    <ul>
                    <% @inventory.errors.full_messages.each do |msg| %>
                        <li><%= msg %></li>
                    <% end %>
                    </ul>
                </div>
            <% end %>

        	<div class="form">
        		<p><%= f.text_field :name, :class => "text-field", :placeholder => :Name %></p>
        		<p><%= f.text_area :description, :class => "textarea", :placeholder => :Description %></p>
        		<p class="buttons">
        			<%= f.submit 'Update', :class => "button" %> <input type="button" class="button" onclick="window.location='/inventories';" value="Cancel">
        		</p>
        	</div>
        <% end %>
        
        <p class="buttons delete">
    	    <%= button_to "DELETE", { :controller => :inventories, :action => 'destroy' }, { :id => @inventory.id, :confirm => "Are you sure?", :class => "delete-button", :method => :delete } %>
    	</p>
    	
    </body>
</html>