<!DOCTYPE HTML>
<html>
    <head>
    	<title><%= @inventory.name %></title>
    	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
    	<meta name="viewport" content="width=device-width, user-scalable=no" />
		<%= csrf_meta_tag %>
    	<%= stylesheet_link_tag 'mobile' %>
    	<%= javascript_include_tag "jquery-1.7.1.min", "jquery-rails" %>
    </head>
    <body>
    	<div id="header">
    		<h1><%= @inventory.name %></h1>
    		<div class="fade-out"></div>
    		<span class="left"><a href="/inventories" class="sprite back-icon"></a></span>
    		<span class="left-2"><a href="/" class="sprite home-icon"></a></span>
    		<span class="right"><a href="/inventory_items/new?inventory=<%= @inventory.id %>" class="sprite new-icon"></a></span>
    	</div>
    	<ul id="items">
    		<% @inventory_items.each do |item| %>
    			<li>
    				<%= link_to "", { :controller => "inventory_items", :action => "increase_quantity", :id => item.id }, { :remote => true, :class => "sprite plus-icon pad-right" } %>
    				<%= link_to "", { :controller => "inventory_items", :action => "decrease_quantity", :id => item.id }, { :remote => true, :class => "sprite minus-icon pad-right" } %>
    				<a class="item" href="/inventory_items/<%= item.id %>/edit"><span id="quantity-<%= item.id %>">(<%= item.quantity %>)</span> <%= item.name %></a>
    			</li>
    		<% end %>
    	</ul>
    </body>
</html>