<!DOCTYPE HTML>
<html>
    <head>
    	<title><%=h @inventory.name %></title>
    	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
    	<meta name="viewport" content="width=device-width, user-scalable=no" />
    	<%= csrf_meta_tag %>
    	<%= stylesheet_link_tag 'main' %>
    	<%= javascript_include_tag :defaults %>
    </head>
    <body>
    	<div id="header">
    		<h1><%=h @inventory.name %></h1>
    		<span class="left"><a href="/inventories"><img src="/images/back.png" alt="back"/></a></span>
    		<span class="left-2"><a href="/"><img src="/images/home.png" alt="home"/></a></span>
    		<span class="right"><a href="/inventory_items/new?inventory=<%=h @inventory.id %>"><img src="/images/new.png" alt="new"/></a></span>
    	</div>
    	<ul id="items">
    		<% @inventory_items.each do |item| %>
    			<li>
    				<%= link_to image_tag("plus.png"), { :controller => "inventory_items", :action => "increase_quantity", :id => item.id }, { :remote => true } %>
    				<%= link_to image_tag("minus.png"), { :controller => "inventory_items", :action => "decrease_quantity", :id => item.id }, { :remote => true } %>
    				<a class="item" href="/inventory_items/<%=h item.id %>/edit"><span id="quantity-<%= item.id %>">(<%=h item.quantity %>)</span> <%=h item.name %></a>
    			</li>
    		<% end %>
    	</ul>
    </body>
</html>