<!DOCTYPE HTML>
<html>
<head>
	<title>Toolbox</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<%= stylesheet_link_tag 'full' %>
	<link href='http://fonts.googleapis.com/css?family=Happy+Monkey' rel='stylesheet' type='text/css'>
</head>
<body id="login">
	<div class="stack-bottom paper"></div>
	<div class="stack-middle paper"></div>
	<div class="login v-center paper">
		<div id="header">
			<h1>Login</h1>
		</div>
		<div class="form">
			<% form_for :auth, :url => {:action => "authorize"} do |f| %>
				<div class="form">
					<div class="group">
						<p>
							<%= text_field_tag :username, "", :class => "text-field", :placeholder => :Username %>
						</p>
						<p>
							<%= password_field_tag :password, "", :class => "text-field", :placeholder => :Password %>
						</p>
						<p class="buttons" style="line-height:35px;">
							<%= check_box_tag :persist, "", false, :class => "checkbox"  %> <label for="persist">Remember Me</label>
						</p>
					</div>
					<p class="buttons"><%= f.submit 'Login', :class => "button" %></p>
				</div>
			<% end %>
		</div>
	</div>
		</div>
	</div>
</body>
</html>