<% form_for :savings_account, :remote => true, :url => { :controller => :savings_accounts, :action => :add_subtract }, :html => { :class => "add_subtract_form" } do |f| %>
    <%= hidden_field_tag :id, @savings_account.id %>
    
    <div class="radio_group">
        <%= radio_button_tag :add_or_subtract, 'add', true %>
        <%= label_tag "add_or_subtract_add", "", :class => "sprite plus-icon" %>
        <br/>
        <%= radio_button_tag :add_or_subtract, 'subtract', false %>
        <%= label_tag "add_or_subtract_subtract", "", :class => "sprite minus-icon" %>
    </div>
    <%= text_field_tag :adjustment, "", :type => "number", :step => "any", :placeholder => "Amount" %>
    <%= f.submit "Update", :class => "button" %>
<% end %>