<!DOCTYPE HTML>
<html>
    <head>
    	<title>Savings</title>
    	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
    	<meta name="viewport" content="width=device-width, user-scalable=no" />
    	<%= stylesheet_link_tag 'main' %>
    	<%= javascript_include_tag "jquery-1.7.1.min", "jquery-rails" %>
    	<script>
    	    window.addEventListener("load",function() {
              setTimeout(function(){
                window.scrollTo(0, 1);
              }, 0);
            });
        </script>
    </head>
    <body>
    	<div id="header">
    		<h1>Savings</h1>
    		<span class="left"><a href="/" class="sprite home-icon"></a></span>
    		<span class="right-2"><a href="#" onclick="$('.active-mode').toggle(); $('.edit-mode').toggle(); $('li form').remove(); return false;" class="sprite edit-icon"></a></span>
    		<span class="right"><a href="/savings_accounts/new" class="sprite new-icon"></a></span>
    	</div>
    	<ul>
    		<% @savings_accounts.each do |savings_account| %>
    			<li id="<%= savings_account.id %>">
                        <%= link_to "", "/savings_accounts/add_subtract_form/#{savings_account.id}", 
                            :remote => true, :method => :post, :class => "sprite add-sub-icon pad-right active-mode" %>
                        <%= link_to "", savings_account, :remote => true, :method => :delete, 
                            :class => "sprite delete-icon pad-right edit-mode", :style => "display:none;" %>
                	
                	<%= savings_account.name %>
                	
            	    <span class="right-align amount<%= ' negative' if savings_account.amount < 0 %>">
            	        <%= number_to_currency(savings_account.amount, :negative_format => "- %u%n") %>
            	    </span>
                </li>
    		<% end %>
    		
    		<li style="color: #444;">
                Total
        	    <span class="right-align amount<%= ' negative' if @total < 0 %>">
        	        <%= number_to_currency(@total, :negative_format => "- %u%n") %>
        	    </span>
            </li>
    	</ul>
    </body>
</html>
