<!DOCTYPE HTML>
<html>
    <head>
    	<title>Inventory</title>
    	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
    	<meta name="viewport" content="width=device-width, user-scalable=no" />
    	<%= stylesheet_link_tag 'main' %>
    </head>
    <body>
    	<div id="header">
    		<h1>New Inventory Item</h1>
    		<span class="left"><a href="/inventories/<%= params[:inventory] %>"><img src="/images/back.png" alt="back"/></a></span>
    		<span class="left-2"><a href="/"><img src="/images/home.png" alt="home"/></a></span>
    	</div>
	
    	<% form_for(@inventory_item) do |f| %>
    	    <% if @inventory_item.errors.any? %>
                <div id="error_explanation">
                    <h2><%= pluralize(@inventory_item.errors.count, "error") %> prohibited this inventory item from being saved:</h2>

                    <ul>
                    <% @inventory_item.errors.full_messages.each do |msg| %>
                        <li><%= msg %></li>
                    <% end %>
                    </ul>
                </div>
            <% end %>
    		<div class="form">
    			<p><%= f.text_field :name, :class => "text-field", :placeholder => :Name %></p>
    			<p><%= f.text_field :quantity, :class => "text-field", :placeholder => :Quantity %></p>
    			<p><%= f.text_area :description, :class => "textarea", :placeholder => :Description %></p>
    			<p class="buttons">
    				<%= hidden_field(:inventory_item, :inventory_id, :value => params[:inventory]) %>
    				<%= f.submit 'Create', :class => "button" %> <input type="button" class="button" onclick="window.location='/inventories/<%= params[:inventory].blank? ? @inventory_item.inventory_id : params[:inventory] %>';" value="Cancel">
    			</p>
    		</div>
    	<% end %>
    </body>
</html>