<li id="<%= item.id %>">
    <input type="checkbox" class="active-mode" id="checkbox-<%= item.id %>" data-id="<%= item.id %>" data-action="<%= item.completed ? 'incomplete' : 'complete' %>" name="completed" <%= item.completed ? "checked" : "" %>>
    <span class="edit-mode">D</span>
	<a class="list-item <%= item.completed ? 'completed' : '' %>" href="/list_items/<%= item.id %>/edit"><%= item.name %></a>
</li>