<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0//EN" "http://www.w3.org/TR/REC-html40/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>Inventory</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, user-scalable=no" />
	<%= stylesheet_link_tag 'main' %>
</head>
<body>
	<div id="header">
		<h1><%= @list_item.name %></h1>
		<span class="left"><a href="/lists/<%= @list_item.list_id %>"><img src="/images/back.png" alt="back"/></a></span>
		<span class="left-2"><a href="/"><img src="/images/home.png" alt="home"/></a></span>
		<span class="right"><a href="/list_items/new?list=<%= @list_item.list_id %>"><img src="/images/new.png" alt="new"/></a></span>
	</div>
	
	<% form_for(@list_item) do |f| %>
	    <% if @list_item.errors.any? %>
            <div id="error_explanation">
                <h2><%= pluralize(@list_item.errors.count, "error") %> prohibited this list item from being saved:</h2>

                <ul>
                <% @list_item.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
                </ul>
            </div>
        <% end %>
        
		<div class="form">
			<p><%= f.text_field :name, :class => "text-field", :placeholder => :Name %></p>
			<p><%= f.text_area :description, :class => "textarea", :placeholder => :Description %></p>
			<p class="buttons delete">
				<input type="button" class="delete-button" onclick="window.location='/list_items/destroy/<%= @list_item.id %>';" value="DELETE">
			</p>
			<p class="buttons">
				<%= hidden_field(:inventory_item, :inventory_id, :value => @list_item.list_id) %>
				<%= f.submit 'Update', :class => "button" %> <input type="button" class="button" onclick="window.location='/lists/<%= @list_item.list_id %>';" value="Cancel">
			</p>
		</div>
	<% end %>
</body>
</html>