<!DOCTYPE HTML>
<html>
    <head>
    	<title>Budget</title>
    	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
    	<meta name="viewport" content="width=device-width, user-scalable=no" />
		<%= stylesheet_link_tag 'mobile' %>
		<%= javascript_include_tag "jquery-1.7.1.min", "jquery-rails", "main" %>
    </head>
    <body>
    	<div id="header">
    		<h1>Budget</h1>
    		<span class="left"><a href="#" class="sprite menu-icon" id="menu"></a></span>
    		<span class="right"><a href="/transactions/new/<%= @cur_date.strftime("%Y") %>/<%= @cur_date.strftime("%m") %>" class="sprite menu-new-icon"></a></span>
    	</div>
    	
    	<div id="nav">
    	    <ul>
    	        <li><a href="/categories/<%= @cur_date.strftime("%Y") %>/<%= @cur_date.strftime("%m") %>"><div class="sprite budget-icon pad-right"></div>Budget</a></li>
        		<li><a href="/transactions/<%= @cur_date.strftime("%Y") %>/<%= @cur_date.strftime("%m") %>"><div class="sprite transactions-icon pad-right"></div>Transactions</a></li>
        		<li><a href="/savings_accounts"><div class="sprite piggybank-icon pad-right"></div>Savings</a></li>
        		<li><a href="/categories/manage/<%= @cur_date.strftime("%Y") %>/<%= @cur_date.strftime("%m") %>"><div class="sprite categories-icon pad-right"></div>Manage Categories</a></li>
        	</ul>
        </div>
    	
    	<ul class="trans-list">
    		<li class="selector">
    			<a class="prev sprite back-icon" href="<%= @prev_link %>"></a>
    			<%= @current %>
    			<a class="next sprite forward-icon" href="<%= @next_link %>"></a>
    		</li>
    		<% budget_total = 0.0 %>
    		<% spent_total = 0.0 %>
    		<% @budgets.each do |value| %>
    		    <% budget_total += numeric?(value[2]) ? value[2] : 0.0 %>
        		<% spent_total += value[3] %>
    			<li class="budget">
    			    <% if value[4] != 0 %>
    				    <a href="/transactions/<%= value[0] %>/<%= @cur_date.strftime("%Y") %>/<%= @cur_date.strftime("%m") %>">
    				<% end %>
    					<p class="category"><%= value[1] %></p>
    				<% if value[4] != 0 %>
    				    </a>
    				<% end %>
        		    <div class="progressbar">
        		      <div class="progressbar-value <%= "over" if value[4] > 100 %>" style="width: <%= [value[4], 100].min %>%;"></div>
        		      <p class="spent"><%= number_to_currency(value[3]) %></p>
        		    </div>
        		    <p class="budget"><%= number_to_currency(value[2]) %></p>
        		</li>
    		<% end %>
    		<li class="budget total">
    		    <%
    		        percent =  budget_total > 0.0 ? spent_total / budget_total : 0.0
                    percent = percent * 100
                    percent = percent.to_i
    		    %>
                <p class="category">Total</p>
                <div class="progressbar">
    		      <div class="progressbar-value <%= "over" if percent > 100 %>" style="width: <%= [percent, 100].min %>%;"></div>
    		      <p class="spent"><%= number_to_currency(spent_total) %></p>
    		    </div>
    		    <p class="budget"><%= number_to_currency(budget_total) %></p>
    		</li>
    	</ul>
    </body>
</html>