<!DOCTYPE HTML>
<html>
    <head>
    	<title>Budget</title>
    	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
    	<meta name="viewport" content="width=device-width, user-scalable=no" />
		<%= stylesheet_link_tag 'mobile' %>
    </head>
    <body>
    	<div id="header">
    		<h1>Budget</h1>
    		<span class="left"><a href="/" class="sprite home-icon"></a></span>
    		<span class="right"><a href="<%= @new_link %>" class="sprite new-icon"></a></span>
    	</div>
    	
    	<div id="nav">
    	    <ul>
        		<li><a href="/transactions/<%= @selected_account.id %>/<%= @cur_date.strftime("%Y") %>/<%= @cur_date.strftime("%m") %>"><div class="sprite transactions-icon pad-right">Transxns</div></a></li>
        		<li class="active"><a href="/categories/<%= @cur_date.strftime("%Y") %>/<%= @cur_date.strftime("%m") %>"><div class="sprite budget-icon pad-right">Budget</div></a></li>
        		<li><a href="/categories/<%= Category.first.id %>/<%= @cur_date.strftime("%Y") %>/<%= @cur_date.strftime("%m") %>"><div class="sprite categories-icon pad-right">Categories</div></a></li>
				<li><a href="/accounts"><div class="sprite accounts-icon pad-right">Accounts</div></a></li>
        	</ul>
        </div>
    	
    	<ul class="trans-list">
    		<li class="selector">
    			<a class="prev sprite back-icon" href="<%= @prev_link %>"></a>
    			<%= @current %>
    			<a class="next sprite forward-icon" href="<%= @next_link %>"></a>
    		</li>
    		<li class="header">
    		    <p class="category">Category</p>
    		    <p class="budget">Budget</p>
				<p class="spent">Spent</p>
				<p class="remaining">Remaining</p>
    		</li>
    		<% budget_total = 0.0 %>
    		<% spent_total = 0.0 %>
    		<% remaining_total = 0.0 %>
    		<% @budgets.each do |value| %>
    		    <% remaining = numeric?(value[2]) ? value[2] - value[3] : 0.0 %>
    		    <% budget_total += numeric?(value[2]) ? value[2] : 0.0 %>
        		<% spent_total += value[3] %>
        		<% remaining_total += remaining %>
    			<li class="budget">
    			    <% if value[4] != 0 %>
    				    <a href="/categories/<%= value[0] %>/<%= @cur_date.strftime("%Y") %>/<%= @cur_date.strftime("%m") %>">
    				<% end %>
    					<p class="category"><%= value[1] %></p>
    				<% if value[4] != 0 %>
    				    </a>
    				<% end %>
    				<p class="budget right"><%= numeric?(value[2]) ? number_to_currency(value[2]) : value[2] %></p>
    				<p class="spent right"><%= number_to_currency(value[3]) %></p>
    				<p class="remaining right <%= remaining > 0.0 ? 'positive' : 'negative' %>">
    				    <%= numeric?(value[2]) ? number_to_currency(remaining) : value[2] %>
    				</p>
    			</li>
    		<% end %>
    		<li class="header">
    		    <p class="category">Total</p>
    		    <p class="budget right"><%= number_to_currency(budget_total) %></p>
				<p class="spent right"><%= number_to_currency(spent_total) %></p>
				<p class="remaining right <%= remaining_total > 0.0 ? 'positive' : 'negative' %>">
				    <%= number_to_currency(remaining_total) %>
				</p>
    		</li>
    	</ul>
    </body>
</html>