<!DOCTYPE HTML>
<html>
    <head>
    	<title>Totals</title>
    	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
    	<meta name="viewport" content="width=device-width, user-scalable=no" />
		<%= stylesheet_link_tag 'mobile' %>
    </head>
    <body>
    	<div id="header">
    		<h1>Totals</h1>
    		<span class="left"><a href="/" class="sprite home-icon"></a></span>
    		<span class="right-2"><a href="<%= @edit_link %>" class="sprite edit-icon"></a></span>
    		<span class="right"><a href="<%= @new_link %>" class="sprite new-icon"></a></span>
    	</div>
    	
    	<div id="nav">
        	<ul>
        	    <li><a href="/categories/<%= @cur_date.strftime("%Y") %>/<%= @cur_date.strftime("%m") %>"><div class="sprite budget-icon pad-right">Budget</div></a></li>
        		<li><a href="/transactions/<%= @cur_date.strftime("%Y") %>/<%= @cur_date.strftime("%m") %>"><div class="sprite transactions-icon pad-right">Transxns</div></a></li>
        		<li class="active"><a href="/categories/<%= Category.first.id %>/<%= @cur_date.strftime("%Y") %>/<%= @cur_date.strftime("%m") %>"><div class="sprite categories-icon pad-right">Categories</div></a></li>
        	</ul>
        </div>
    	
    	<ul class="trans-list">
    		<li class="selector">
    			<a class="prev sprite back-icon" href="<%= @prev_link %>"></a>
    			<%= @current %>
    			<a class="next sprite forward-icon" href="<%= @next_link %>"></a>
    		</li>
    		<li class="selector">
    		    <script type="text/javascript">
    				function change(select) {
    					var selected = select[select.selectedIndex].value;
    					var path = '/categories/' + selected + '/<%= params["year"] %>/<%= params["month"] %>';
    					window.location = path;
    				}
    			</script>
    			<select name="category" onchange="change(this); return false;">
    				<% @categories.each do |category| %>
    					<option value="<%= category.id %>" <% if category.id == params[:id].to_i %>selected="selected"<% end %>><%= category.name %></option>
    				<% end %>
    			</select>
    		</li>
    		<% @transactions.each do |transaction| %>
    			<li class="transaction">
    				<a name="<%= transaction.id %>"> </a>
    				<a href="/transactions/<%= transaction.id %>/edit/<%= @cur_date.strftime("%Y") %>/<%= @cur_date.strftime("%m") %>">
    					<span class="info">
    						<span class="to"><%=h transaction.to %></span>
    						<br/>
    						<%=h transaction.category.name %>
    					</span>
    				</a>
    				<span class="data">
    					<%= number_to_currency(transaction.amount) %>
    					<br/>
    					<%=h transaction.date.strftime("%b %d") %>
    				</span>
    			</li>
    		<% end %>
    	</ul>
    </body>
</html>