<!DOCTYPE HTML>
<html>
    <head>
    	<title>Transactions</title>
    	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
    	<meta name="viewport" content="width=device-width, user-scalable=no" />
		<%= stylesheet_link_tag 'mobile' %>
    	<%= javascript_include_tag "jquery-1.7.1.min", "jquery-rails", "jquery-ui-1.8.17.custom.min", "main" %>
    	<script>
            $(function() {
    	        $("input:checkbox").live("change", function(){
    	            var id = this.getAttribute("data-id");
    	            var action = this.getAttribute("data-action");
    	            var path = "/transactions/" + action + "/" + id;
    	            $.post(path);
    	        });
    	    });
        </script>
    </head>
    <body>
    	<div id="header">
    		<h1>Transactions</h1>
    		<span class="left"><a href="#" class="sprite menu-icon" id="menu"></a></span>
    		<span class="right"><a href="/transactions/new/<%= @cur_date.strftime("%Y") %>/<%= @cur_date.strftime("%m") %>" class="sprite menu-new-icon"></a></span>
    	</div>
    	
    	<div id="nav">
    	    <ul>
    	        <li><a href="/categories/<%= @cur_date.strftime("%Y") %>/<%= @cur_date.strftime("%m") %>"><div class="sprite budget-icon pad-right"></div>Budget</a></li>
        		<li><a href="/transactions/<%= @cur_date.strftime("%Y") %>/<%= @cur_date.strftime("%m") %>"><div class="sprite transactions-icon pad-right"></div>Transactions</a></li>
        		<li><a href="/savings_accounts"><div class="sprite piggybank-icon pad-right"></div>Savings</a></li>
        		<li><a href="/categories/manage/<%= @cur_date.strftime("%Y") %>/<%= @cur_date.strftime("%m") %>"><div class="sprite categories-icon pad-right"></div>Manage Categories</a></li>
        	</ul>
        </div>
    	
    	<ul class="trans-list">
			<li class="selector">
    			<a class="prev sprite back-icon" href="<%= @prev_link %>"></a>
    			<%= @current %>
    			<a class="next sprite forward-icon" href="<%= @next_link %>"></a>
    		</li>
    		<li class="selector">
    		    <script type="text/javascript">
    				function change(select) {
    					var selected = select[select.selectedIndex].value;
    					var path = '/transactions/';
    					if (selected != "") {
    					    path = path + selected + "/";
    					}
    					path = path + '<%= params["year"] %>/<%= params["month"] %>';
    					window.location = path;
    				}
    			</script>
    			<select name="category" onchange="change(this); return false;">
    			    <option value="">All Categories</option>
    				<% @categories.each do |category| %>
    					<option value="<%= category.id %>" <% if category.id == params[:id].to_i %>selected="selected"<% end %>><%= category.name %></option>
    				<% end %>
    			</select>
    		</li>
    		<% @transactions.each do |transaction| %>
    			<li class="transaction" id="<%= transaction.id %>">
    				<input type="checkbox" class="reconcile" id="checkbox-<%= transaction.id %>" data-id="<%= transaction.id %>" data-action="<%= transaction.reconciled ? 'unreconcile' : 'reconcile' %>" name="reconciled" <%= transaction.reconciled ? "checked" : "" %>>
    				<a name="<%= transaction.id %>"> </a>
    				<a href="/transactions/<%= transaction.id %>/edit/<%= @cur_date.strftime("%Y") %>/<%= @cur_date.strftime("%m") %>">
    					<span class="info">
    						<span class="to"><%=h transaction.to %></span>
    						<br/>
    						<% if transaction.category != nil %>
    						    <%=h transaction.category.name %>
    						<% else %>
    						    <em>Uncategorized</em>
    						<% end %>
    					</span>
    				</a>
    				<span class="data"><%= number_to_currency(transaction.amount) %></span>
    				<br/>
    				<span class="data"><%=h transaction.date.strftime("%b %d") %></span>
    			</li>
    		<% end %>
    	</ul>
    </body>
</html>