<!DOCTYPE HTML>
<html>
    <head>
    	<title>Transactions</title>
    	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
    	<meta name="viewport" content="width=device-width, user-scalable=no" />
		<%= stylesheet_link_tag 'mobile' %>
    	<%= javascript_include_tag "jquery-1.7.1.min", "jquery-rails", "jquery-ui-1.8.17.custom.min" %>
    	<script>
            $(function() {
    	        $("input:checkbox").live("change", function(){
    	            var id = this.getAttribute("data-id");
    	            var action = this.getAttribute("data-action");
    	            var path = "/transactions/" + action + "/" + id;
    	            $.post(path);
    	        });
    	    });
        </script>
    </head>
    <body>
    	<div id="header">
    		<h1>Transactions</h1>
    		<span class="left"><a href="/" class="sprite home-icon"></a></span>
    		<span class="right"><a href="<%= @new_link %>" class="sprite new-icon"></a></span>
    	</div>
    	
    	<div id="nav">
        	<ul>
        		<li class="active"><a href="/transactions"><div class="sprite transactions-icon pad-right">Transxns</div></a></li>
        		<li><a href="/budgets/<%= @cur_date.strftime("%Y") %>/<%= @cur_date.strftime("%m") %>"><div class="sprite budget-icon pad-right">Budget</div></a></li>
        		<li><a href="/categories/<%= @cur_date.strftime("%Y") %>/<%= @cur_date.strftime("%m") %>"><div class="sprite totals-icon pad-right">Categories</div></a></li>
        	</ul>
        </div>
    	
    	<ul class="trans-list">
    		<li class="selector">
    			<a class="prev sprite back-icon" href="<%= @prev_link %>"></a>
    			<%= @current %>
    			<a class="next sprite forward-icon" href="<%= @next_link %>"></a>
    		</li>
    		<li>
    			<span class="info">Balance</span>
    			<span class="data"><%= number_to_currency(@current_balance) %></span>
    		</li>
    		<% @transactions.each do |transaction| %>
    			<li class="transaction" id="<%= transaction.id %>">
    				<input type="checkbox" class="reconcile" id="checkbox-<%= transaction.id %>" data-id="<%= transaction.id %>" data-action="<%= transaction.reconciled ? 'unreconcile' : 'reconcile' %>" name="reconciled" <%= transaction.reconciled ? "checked" : "" %>>
    				<a name="<%= transaction.id %>"> </a>
    				<a href="/transactions/<%= transaction.id %>/edit/<%= @cur_date.strftime("%Y") %>/<%= @cur_date.strftime("%m") %>">
    					<span class="info">
    						<span class="to"><%=h transaction.to %></span>
    						<br/>
    						<%=h transaction.category.name %>
    					</span>
    				</a>
    				<span class="data">
    					<%= number_to_currency(transaction.amount) %>
    					<br/>
    					<%=h transaction.date.strftime("%b %d") %>
    				</span>
    			</li>
    		<% end %>
    	</ul>
    </body>
</html>